<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>About page</title>
</head>
<body>

	<section>
	<h1>This page is about me</h1>
	<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
		necessitatibus repellat facilis vel similique illum hic cum voluptas
		voluptatum consequuntur tenetur sint accusantium rerum ex.
	</h3>
	</section>
</body>
</html>

<!-- here we are replacing section contents with base's layout(content) by passing through section
     whenever we fire /newAbout request then this page will loaded with base page contents and this section content-->